node_modules/
.env

*.db
*.db-journal
*.db-shm
*.db-wal

uploads/
*.log

admin_backup_before_architecture/
frontend_backup_before_architecture/
backend_backup_before_architecture/

database/2fa-setup.html
